<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - Gree-Platform-Learning </title>

    <style type="text/css">
      p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Times}
    </style>
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <p class="p1"><a id="logo" href="http://gree-platform-learning.appspot.com/">Gree-Platform-Learning</a></p>
    </div>

    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>Powered by Meng Xiangshen   Feb, 2013</p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
